/*----------------------- Header ----------------------
*/
header {
    background: url(images/icy-summit-of-a-mountain-on-a-frosty-night.jpg) center;
    height: 680px;
}
#logo {
    width: 10%;
    padding-top: 1rem;
    margin-right: auto;
    margin-left: auto;
}
.color-btn {
    background: #0E6248;
}
.learn-more{
    background: rgba(255, 255, 255, 0.85);
    height: 40px;
    width: 128px;
    border-radius: 4px;

}
.share-btn {
    height: 32px;
    width: 96px;
}
.become-btn{
    height: 40px;
    width: 200px;
}
header a {
   margin-right: 1rem; 
}
.navbar-toggler{
    background: rgba(255, 255, 255, 0.5);
}

/*------------------------------------------*/
/*
    <!------------------------- quick info ---------------------------------->
*/
#quick-info{
    background: #FBF8F6;
}
.quick{
    width: 800px;
    height: 44px;
    font-size: 18px;
    margin:38px 0;
}
/*
    <!----------------------------------------------------------------------->
*/

/*
    <!------------------------- What we do ---------------------------------->*/
    .boutonVonlunteer{
        margin-bottom: 50px!important;
        margin-top: 150px!important;
    }
    .card-img-top{
        margin-left: 25px!important;
        margin-top: -25px!important;
    }
     /*<!----------------------------------------------------------------------->
*/

/*
    <!-------------------------- stats -------------------------------------->
    <!----------------------------------------------------------------------->
*/

/*
    <!--------------------------- galery ------------------------------------>
    <!----------------------------------------------------------------------->
*/

/*
    <!--------------------------- donate ------------------------------------>
    <!----------------------------------------------------------------------->
*/
    
/*
    <!------------------------ reading source ------------------------------->
    <!----------------------------------------------------------------------->
*/

/*    
    <!------------------------ newsletter ----------------------------------->
    <!----------------------------------------------------------------------->
*/

/*
    <!-------------------------- footer ------------------------------------->
    <!----------------------------------------------------------------------->
*/

@media (max-width:768px) { /* TABLETTE */
    /*
    ----------------------- Header ------------------------
*/
    nav li a {
        font-size: 14px;
    }
    #logo {
        font-size: 14px;
        padding-top: 2rem;
        width: 20%;
        text-align: center;
    }
    
/*------------------------*/
/*
    <!------------------------- quick info ---------------------------------->
    <!----------------------------------------------------------------------->
*/

/*
    <!------------------------- What we do ---------------------------------->*/
    .boutonVonlunteer{
        margin-bottom: 15px!important;
        margin-top: 50px!important;
    }
.card-img-top{
    margin-left: 0px!important;
    margin-top: 0px!important;
}

    /*<!----------------------------------------------------------------------->
*/

/*
    <!-------------------------- stats -------------------------------------->
    <!----------------------------------------------------------------------->
*/

/*
    <!--------------------------- galery ------------------------------------>
    <!----------------------------------------------------------------------->
*/

/*
    <!--------------------------- donate ------------------------------------>
    <!----------------------------------------------------------------------->
*/
    
/*
    <!------------------------ reading source ------------------------------->
    <!----------------------------------------------------------------------->
*/

/*    
    <!------------------------ newsletter ----------------------------------->
    <!----------------------------------------------------------------------->
*/

/*
    <!-------------------------- footer ------------------------------------->
    <!----------------------------------------------------------------------->
*/
}


@media (max-width:576px){  /* MOBILE */
    /*
    <!-------------------------- Header ------------------------------------->
    <!----------------------------------------------------------------------->
*/
/*
    <!------------------------- quick info ---------------------------------->
    <!----------------------------------------------------------------------->
*/

/*
    <!------------------------- What we do ---------------------------------->*/

.boutonVonlunteer{
    margin-bottom: 0px!important;
    margin-top: 25px!important;
    width: 50px!important;


}
.card-img-top{
    margin-left: 0px!important;
    margin-top: 0px!important;
}


    /*<!----------------------------------------------------------------------->
*/

/*
    <!-------------------------- stats -------------------------------------->
    <!----------------------------------------------------------------------->
*/

/*
    <!--------------------------- galery ------------------------------------>
    <!----------------------------------------------------------------------->
*/

/*
    <!--------------------------- donate ------------------------------------>
    <!----------------------------------------------------------------------->
*/
    
/*
    <!------------------------ reading source ------------------------------->
    <!----------------------------------------------------------------------->
*/

/*    
    <!------------------------ newsletter ----------------------------------->
    <!----------------------------------------------------------------------->
*/

/*
    <!-------------------------- footer ------------------------------------->
    <!----------------------------------------------------------------------->
*/
}
