/*
    <!-------------------------- Header ------------------------------------->
    <!----------------------------------------------------------------------->
*/
/*
    <!------------------------- quick info ---------------------------------->
    <!----------------------------------------------------------------------->
*/

/*
    <!------------------------- What we do ---------------------------------->*/
    .boutonVonlunteer{
        margin-bottom: 50px!important;
    }
    .card-img-top{
        margin-left: 25px!important;
        margin-top: -25px!important;
    }
     /*<!----------------------------------------------------------------------->
*/

/*
    <!-------------------------- stats -------------------------------------->
    <!----------------------------------------------------------------------->
*/

/*
    <!--------------------------- galery ------------------------------------>
    <!----------------------------------------------------------------------->
*/

/*
    <!--------------------------- donate ------------------------------------>
    <!----------------------------------------------------------------------->
*/
    
/*
    <!------------------------ reading source ------------------------------->
    <!----------------------------------------------------------------------->
*/

/*    
    <!------------------------ newsletter ----------------------------------->
    <!----------------------------------------------------------------------->
*/

/*
    <!-------------------------- footer ------------------------------------->
    <!----------------------------------------------------------------------->
*/

@media (max-width:768px) { /* TABLETTE */
    /*
    <!-------------------------- Header ------------------------------------->
    <!----------------------------------------------------------------------->
*/
/*
    <!------------------------- quick info ---------------------------------->
    <!----------------------------------------------------------------------->
*/

/*
    <!------------------------- What we do ---------------------------------->*/
    .boutonVonlunteer{
        margin-bottom: 15px!important;
    }
.card-img-top{
    margin-left: 0px!important;
    margin-top: 0px!important;
}

    /*<!----------------------------------------------------------------------->
*/

/*
    <!-------------------------- stats -------------------------------------->
    <!----------------------------------------------------------------------->
*/

/*
    <!--------------------------- galery ------------------------------------>
    <!----------------------------------------------------------------------->
*/

/*
    <!--------------------------- donate ------------------------------------>
    <!----------------------------------------------------------------------->
*/
    
/*
    <!------------------------ reading source ------------------------------->
    <!----------------------------------------------------------------------->
*/

/*    
    <!------------------------ newsletter ----------------------------------->
    <!----------------------------------------------------------------------->
*/

/*
    <!-------------------------- footer ------------------------------------->
    <!----------------------------------------------------------------------->
*/
}


@media (max-width:576px){  /* MOBILE */
    /*
    <!-------------------------- Header ------------------------------------->
    <!----------------------------------------------------------------------->
*/
/*
    <!------------------------- quick info ---------------------------------->
    <!----------------------------------------------------------------------->
*/

/*
    <!------------------------- What we do ---------------------------------->*/

.boutonVonlunteer{
    margin-bottom: 0px!important;


}
.card-img-top{
    margin-left: 0px!important;
    margin-top: 0px!important;
}


    /*<!----------------------------------------------------------------------->
*/

/*
    <!-------------------------- stats -------------------------------------->
    <!----------------------------------------------------------------------->
*/

/*
    <!--------------------------- galery ------------------------------------>
    <!----------------------------------------------------------------------->
*/

/*
    <!--------------------------- donate ------------------------------------>
    <!----------------------------------------------------------------------->
*/
    
/*
    <!------------------------ reading source ------------------------------->
    <!----------------------------------------------------------------------->
*/

/*    
    <!------------------------ newsletter ----------------------------------->
    <!----------------------------------------------------------------------->
*/

/*
    <!-------------------------- footer ------------------------------------->
    <!----------------------------------------------------------------------->
*/
}
